* {
   box-sizing: border-box;
}

.parent {
   border: 2px solid blue;
   height: 150px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.child {
   border: 2px solid red;
}

.child1 {
   align-self: center;
}

.child5 {
   align-self: flex-end;
}
