* {
   box-sizing: border-box;
}

.parent {
   border: 2px solid blue;
   height: 150px;
   display: flex;
   flex-direction: column;
   /*  justify-content: space-between;
   align-items: flex-start; */
}

.child {
   border: 2px solid red;
}

.child1 {
   align-self: flex-end;
   /*  align-self: center; */
}

.child2,
.child3,
.child4,
.child5,
.child6 {
   align-self: center;
   /*  align-self: flex-end; */
}
